<div class="col-sm-offset-1 col-sm-11" style="margin-top: 30px">
    <span class="h5">Додавання файлу фонду літератури:</span>
    <form role="form" class="form-inline" method="post" action="" enctype="multipart/form-data">
    <div class="col-sm-6 add_ch"><input class="input-sm" type="file"
                                        data-filename-placement="inside" name="new_doc"></div>
    <div class="col-sm-6 add_ch">
        <button type="submit" name="upload" class="btn btn_na btn-default">Завантажити</button>
    </div>
        </form>

</div>

<?php
if ($_FILES && isset ($_FILES['new_doc'])){?>
    <div class="col-offset-1 col-sm-11">
        <span class="text-success h4">Вітаємо! Ви успішно оновоили фонд літерутури.</span>
        <a href='/pages/index/'class="btn btn-default">Головна</a>
    </div>
<?php }