<?php
$yes = isset($_POST["yes"]) ? $_POST["yes"] : 0;
$no = isset($_POST["no"]) ? $_POST["no"] : 0;?>

<div class="col-sm-offset-2 col-sm-7 mrg_top">
    <a href="/manage/admin/"><input class="btn btn-default" type="text" value="Категорії"></a>
    <a href="/manage/admin/jurisprudence/"><input class="btn btn-default" type="text" value="Додати"></a>
    <a href="/users/logout/" class="btn btn-default out" type="submit" name="out" >Вийти</a>
</div>
<?php
if($yes){?>
    <div class="col-sm-offset-2 col-sm-7 mrg_top">
        <div class="panel panel-success text-center">
        <div class="panel-heading"><b>Вітаємо!</b></div>
        <div class="panel-body text-left text-center"> <h4>Картку успішно видалено!</h4><br>
    </div>
        <?php
}

if (isset($_POST['delete'])) { ?>
    <form method="post" action="">
        <div class="col-sm-offset-2 col-sm-7 mrg_top">
            <div class="panel panel-danger text-center">
                <div class="panel-heading"><b>УВАГА!</b></div>
                <div class="panel-body text-left text-center"> <h4>Ви впевнені що хочете видалити документ із бази без можливості його відновлення?</h4><br>
                    <input class="btn btn-danger btn_y_n" name="yes" type="submit" value="ТАК"><input type="submit" onclick='window.history.back()' class="btn btn-success btn_y_n"  name="no" value="НІ"><br>
                    <input type="hidden" name="id_change" value="<?=$_POST['id_change']?>">
                    <b>Документ<?=$_POST['number']?> від <?=$_POST['date']?></b><br>
                    <?=$_POST['title']?><br>
                    <b><?=$_POST['publisher_1']?></b> <b><?=$_POST['publisher_2']?></b>
                </div>
            </div>
        </div>
    </form><?php
}
if(isset($_POST['edit'])){

        if(isset($data['saved_doc'][0])) {
        ?>
            <div class="col-sm-offset-2 col-sm-8 mrg_top">
                <div class="panel panel-success text-center">
                    <div class="panel-heading"><b>Вітаємо!</b> Зміни успішно внесені в документ </div>
                    <div class="panel-body  text-left">
                        <?php foreach ($data['saved_doc'] as $doc) {
                            echo "<b>";
                            echo $doc['index_1'];
                            if (isset($doc['n_id_2']) AND $doc['n_id_2']!=0) {
                                echo ', ' . $doc['index_2'];
                            }
                            if (isset($doc['n_id_3']) AND $doc['n_id_3']!=0) {
                                echo ', ' . $doc['index_3'];
                            }
                            if (isset($doc['n_id_4'] ) AND $doc['n_id_4']!=0) {
                                echo ', ' . $doc['index_4'];
                            }
                            if (isset($doc['n_id_5']) AND $doc['n_id_5']!=0) {
                                echo ', ' . $doc['index_5'];
                            }

                            echo "</b>";
                            echo "<br>";
                            echo "<b>{$doc['type']} від {$doc['date']}</b><br>";
                            echo $doc['title'];
                            echo "<br>";
                            echo "<b>".$doc['publisher_1']."</b>";
                            if ($doc['publisher_2']!='') {
                                echo '<b>, ' . $doc['publisher_2'].'</b>';
                            }
                            $numb = $doc['id'];
                            echo "<form method='get' action='/manage/admin/edit_jurisprudence/{$numb}'><span class='text-muted'> змінити документ № </span><input type='submit' class='btn btn-default btn-sm' value='{$numb}'>";
                            echo "<br>";
                            echo "<br>";
                        }
                        }
                        }

if(!$no AND !$yes AND !$_POST['edit'] AND !$_POST['delete']) {?>
    <div class="col-sm-offset-2 col-sm-7 mrg_top">
    <div class="panel panel-warning text-center">
        <div class="panel-heading"><b>Помилка!</b></div>
        <div class="panel-body text-left text-center"> <b>Щось пішло не так, поверніться в "Категорії" або у розділ "Додати"!</b></div>
    </div>
    </div><?php
}
?>