<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><?=Config::get('site_name')?></title>
  <script async src="/jQuery/jquery-1.12.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
        integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  <script async src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script async type="text/javascript" src="/js/bootstrap.min.js"></script>
  <link href="/img/prokuratura_2.png" rel="shortcut icon" type="image/png">
</head>
<body>
<div class="headBackground">
  <a href="/pages/"><img class="headerMain" src="/img/prokuratura.png"></a>
  <div class="headTxt"><b>Відділ систематизації та обліку актів законодавства</b><br>
    <b class="heading">Управління правового забезпечення</b>
    <div class="count_documenst">
      <h5><span class="opac">В базі документів: <?=Config::get('count')?> </span></h5>
    </div>
  </div>
</div>
<div class="navi_goverment">
  <a class="btns" href="http://www.president.gov.ua/">Президент України</a>
  <a class="btns" href="http://rada.gov.ua/">Верховна рада України</a>
  <a class="btns" href="http://gp.gov.ua/">Генеральна прокуратура України</a>
  <a class="btns" href="http://kmu.gov.ua/">Кабінет Міністрів України</a>
</div>
<table class="categoriesTxt nav_bar">
  <tr>
    <td class='td_view_main_features' id="aside1" colspan='2'>
      <a class='btnsf btn glyphicon glyphicon-home' href='/pages/'><span class=''> Головна</span></a>
      <a class='btns_new btn glyphicon glyphicon-search' href='/pages/search/'><span class=''> Пошук</span></a>
      <a class='btns_new btn glyphicon glyphicon-plus' href="/users/login/"> Додати</a>
      <a class='btns_new btn  glyphicon glyphicon-list-alt' href="/pages/new_acts/1"> Нове в законодавстві</a>
      <a class='btn_zv btn glyphicon glyphicon-envelope' data-toggle="modal" data-target="#myModal">  Контакти</a>
      <div id="myModal" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content text-center">
            <div class="modal-header"><button class="close" type="button" data-dismiss="modal">×</button>
              <h4 class="modal-title text-info"> Контакти</h4>
            </div>
            <div class="modal-body"><span class="text-info">Якщо виникли питання, надішліть листа</span> <br><br>
              <span class="text-muted h4">E-mail:</span>
              <span class="text-muted h3">pravo.systematization@gmail.com</span><br><br>
            </div>
          </div>
        </div>
  </tr>
</table>
<div id="upBlock">^</div>
      <?=$data['content']?>
<script async src="/js/default_page.js"></script>
</body>
</html>