<table class="categoriesTxt">
    <tr>
        <th colspan="3"><h5 class="chooseCategory text-center">Оберіть категорію для перегляду</h5></th>
    </tr>
    <tr>
        <td><td class='td_view_numbering'>1.</td><td><a href="view_laws.php"><h4 class="btnss">Систематична картотека законодавчих актів</h4></a></td>
    </tr>
    <tr>
        <td><td class='td_view_numbering'>2.</td><td><a href="view_jurisprudence.php"><h4 class="btnss">Систематична картотека судової практики</h4></a></td>
    </tr>
    <tr>
        <td><td class='td_view_numbering'>3.</td><td><a href="view_articles.php"><h4 class="btnss">Систематична картотека публікацій з правової тематики</h4></a></td>
    </tr>
    <tr>
        <td><td class='td_view_numbering'>4.</td><td><a  href="files/library.xls"><h4 class="btnss">Наявна література</h4></a></td>
    </tr>
    <tr>
        <td><td class='td_view_numbering'>5.</td><td><a href="information.php"><h4 class="btnss">Довідкова інформація</h4></a></td>
    </tr>
</table>
<!--
<?php /*foreach ($data['classifier'] as $page_data) { ?>

    <div style="margin-top: 20px;">

        <a href="/pages/view/<?=$page_data['index']?>"><?=$page_data['index']?>. <?=$page_data['title']?></a>
    </div>


<?php } ?>