<table class="categoriesTxt">
    <tr>
        <td class="text-danger text-center"><a class="h6" href="/files/Information_2016.doc"><span class="glyphicon glyphicon-save"> Завантажити</span></a></td>
        <td class="td_view_h1"><h5 class="chooseCategory">Довідкова інформація</h5></td>
    </tr>
    <tr>
        <td class='td_view_numbering'>1.</td>
        <td><h4 class="btnss indent "><b class="text-danger">Для кваліфікації</b> адміністративних і кримінальних правопорушень, сума завданої шкоди встановлена на рівні податкової соціальної пільги яка станом на 01 січня 2016 року становить <b>689 гривень</b> – це <b>50% від прожиткового мінімуму</b> для працездатних осіб. (п.1 Прикінцевих положень Податкового кодексу України)</h4></td>
    </tr>
    <tr>
        <td class='td_view_numbering'>2.</td><td><h4 class="btnss indent"><b class="text-danger">Для дрібної крадіжки </b> – вартість викраденого майна на момент вчинення правопорушення <b>не має перевищувати 0,2 неоподатковуваного мінімуму доходів громадян</b>.  Тобто цей показник  станом на 1 січня 2016 року становить <b>137 гривень 80 копійок</b></h4></td>
    </tr>
    <tr>
        <td class='td_view_numbering'>3.</td><td><h4 class="btnss indent"><b class="text-danger">Мінімальна пенсія </b> встановлюється в розмірі прожиткового мінімуму для осіб, які втратили працездатність: <b>з 1 січня 2016 року - 1074 гривні, з 1 травня - 1130 гривень, з 1 грудня - 1208 гривень</b> визначеного законом. (ст. 28 Закону України "Про загальнообов'язкове державне пенсійне страхування")</h4></td>
    </tr>
    <tr>
        <td class='td_view_numbering'>4.</td><td><h4 class="btnss indent"><b class="text-danger">Мінімальна заробітна </b> плата станом на 2016 рік  становить у місячному розмірі: <b>з 1 січня - 1378 гривень, з 1 травня - 1450 гривень, з 1 грудня - 1550 гривень.</b> (ст. 8 Закону України "Про державний бюджет на 2016 рік")</h4></td>
    </tr>
    <tr>
        <td class='td_view_numbering'>5.</td><td><h4 class="btnss indent"><b class="text-danger">Прожитковий мінімум </b> станом на <b>2016 рік</b> становить:
                <ol><b> з 1 січня 2016 року - 1330 гривень, з 1 травня - 1399 гривень, з 1 грудня - 1496 гривень;</b></ol>
                <ul>для працездатних осіб: <b>з 1 січня 2016 року - 1378 гривень, з 1 травня - 1450 гривень, з 1 грудня - 1550 гривень;</b></ul>
                <ul>осіб, які втратили працездатність: <b>з 1 січня 2016 року - 1074 гривні, з 1 травня - 1130 гривень, з 1 грудня - 1208 гривень.</b> (ст. 7 Закону України "Про державний бюджет на 2016 рік")</ul>         </h4></td>
    </tr>
</table>