<?php $params = App::getRouter()->getParams();
$page = isset($_GET['page']) ? (int)$_GET['page'] : 1;
$p = new Pagination(array(
    'itemsCount' => $data['count'][0]['cnt'],
    'itemsPerPage' => 50,
    'currentPage' => $page
));
?>

<table class="categoriesTxt">
    <tr>
        <td class="td_view_h1" colspan="3"><span class='btn btn_back text-center text-danger glyphicon glyphicon-chevron-left' onclick='window.history.back()'></span>
            Систематична картотека судової практики</td>
    </tr>
    <?php if(!isset($params[0])){
        foreach ($data['jurisprudence_categories'] as $item) { ?>
            <tr>
                <td class='td_view_numbering'><?=$item['index']?>.</td>
                <td class='td_view_content'><a href='/pages/jurisprudence/<?=$item['index']?>'><?=$item['title']?></td>
            </tr>
        <?php
        }
    } elseif(isset($params[0]) AND !isset($params[1])){ ?>
            <tr>
                <th class='td_view_h2' colspan='2'><?=$data['jurisprudence_category'][0]['index']?>. <?=$data['jurisprudence_category'][0]['title']?></th>
            </tr><?php foreach ($data['jurisprudence_subcategories'] as $subcategory) {
                $subcategory_index = explode('/', $subcategory['index']); ?>
                <tr>
                    <td class='td_view_numbering'><?=$subcategory_index[1]?>.</td>
                    <td class='td_view_content'><a href='/pages/jurisprudence/<?=$subcategory['index']?>'><?=$subcategory['title']?></td>
                </tr><?php }
                 if(!isset($data['jurisprudence_subcategories'][0])){
                    $i = 0;
                    if($_GET['page'] > 1) {
                        $i = ($_GET['page'] - 1) * 50;
                    }
                    foreach ($data['docs'] as $doc) {
                            $i++; ?>
                           <tr>
                               <td class='td_view_numbering'><?=$i?>.</td>
                               <td colspan='' class='td_view_content'> <span class='h6'><?=$doc['type']?>, <?php if($doc['number'] !='') {?>№ <?=$doc['number'] ?> <?php } ?>від <?=$doc['nice_date']?> </span> <br>
                                   <?php if ($doc['link']!=''){ ?>
                                       <a href='<?=$doc['link']?>'><?=$doc['title']?></a><?php
                                   } else { ?>
                                       <span class='text-info'><?=$doc['title']?></span><?php
                                   } ?>
                                <br><span class='h6'><?=$doc['publisher_1']?>
                                   </span><span class='text-muted h6'> <?=$doc['source']?></span>
                               </td>
                            </tr><?php
                    }?>
                    <tr>
                        <td></td>
                        <td class='td_view_content'><?php
                            foreach ($p->buttons as $button) :
                                if ($button->isActive) : ?>
                                    <a href = '?page=<?=$button->page?>'><?=$button->text?></a>
                                <?php else : ?>
                                    <span style="color:#555555"><?=$button->text?></span>
                                <?php endif;
                            endforeach; ?></td>
                    </tr><?php
                 }
    } elseif(isset($params[1]) AND !isset($params[2])) { ?>
            <tr>
                <th class='td_view_h2' colspan='2'><?=$data['jurisprudence_category'][0]['index']?>. <?=$data['jurisprudence_category'][0]['title']?></th>
            </tr>
            <tr>
                <td class='td_view_h3' colspan='2'><?=$params[1]?>. <?=$data['jurisprudence_subcategory'][0]['title']?></td>
            </tr><?php
            foreach ($data['jurisprudence_sub_subcategories'] as $subcategory) {
                $subcategory_index = explode('/', $subcategory['index']); ?>
                <tr>
                    <td class='td_view_numbering'><?=$subcategory_index[2]?>.</td>
                    <td class='td_view_content'><a href='/pages/jurisprudence/<?=$subcategory['index']?>'><?=$subcategory['title']?></td>
                </tr><?php }
                 $i = 0;
                 if($_GET['page'] > 1) {
                        $i = ($_GET['page'] - 1) * 50;
                    }
                    foreach ($data['docs'] as $doc) {
                            $i++; ?>
                           <tr>
                               <td class='td_view_numbering'><?=$i?>.</td>
                               <td colspan='' class='td_view_content'> <span class='h6'><?=$doc['type']?>, № <?=$doc['number'] ?>  від <?=$doc['nice_date']?> </span> <br>
                               <span class='text-info'><?=$doc['title']?></span> <br><span class='h6'><?=$doc['publisher_1']?>
                                   </span><span class='text-muted h6'> <?=$doc['source']?></span>
                               </td>
                            </tr><?php
                    }?>
                    <tr>
                        <td></td>
                        <td class='td_view_content'><?php
                            foreach ($p->buttons as $button) :
                                if ($button->isActive) : ?>
                                    <a href = '?page=<?=$button->page?>'><?=$button->text?></a>
                                <?php else : ?>
                                    <span style="color:#555555"><?=$button->text?></span>
                                <?php endif;
                            endforeach; ?></td>
                    </tr><?php
    } elseif(isset($params[2]) AND !isset($params[3])){ ?>
            <tr>
                <th class='td_view_h2' colspan='2'><?=$params[0]?>. <?=$data['jurisprudence_category'][0]['title']?></th>
            </tr>
            <tr>
                <td class='td_view_h3' colspan='2'><?=$params[1]?>. <?=$data['jurisprudence_subcategory'][0]['title']?></td>
            </tr>
            <tr>
                <td class='td_view_h4' colspan='2'><?=$params[2]?>. <?=$data['jurisprudence_sub_subcategory'][0]['title']?></td>
            </tr> <?php
            $i = 0;
            if($_GET['page'] > 1) {
                        $i = ($_GET['page'] - 1) * 50;
                    }
                    foreach ($data['docs'] as $doc) {
                            $i++; ?>
                            <tr>
                               <td class='td_view_numbering'><?=$i?>.</td>
                               <td colspan='' class='td_view_content'> <span class='h6'><?=$doc['type']?>, № <?=$doc['number'] ?> від <?=$doc['nice_date']?> </span> <br>
                               <span class='text-info'><?=$doc['title']?></span> <br><span class='h6'><?=$doc['publisher_1']?>
                                   </span><span class='text-muted h6'> <?=$doc['source']?></span>
                               </td>
                            </tr><?php
                    }?>
            <tr>
                <td></td>
                <td class='td_view_content'><?php
                    foreach ($p->buttons as $button) :
                        if ($button->isActive) : ?>
                            <a href = '?page=<?=$button->page?>'><?=$button->text?></a>
                        <?php else : ?>
                            <span style="color:#555555"><?=$button->text?></span>
                        <?php endif;
                    endforeach; ?></td>
            </tr><?php
    }?>
</table>
