<?php $page = isset($_GET['page']) ? (int)$_GET['page'] : 1;

$p = new Pagination(array(
    'itemsCount' => $data['count'][0]['cnt'],
    'itemsPerPage' => 50,
    'currentPage' => $page
));
?>
<table class="categoriesTxt nav_bar">
    <tr>
        <td colspan="2" class="btns_search">
            <div class="col-sm-12 text-center">
                <div class="col-sm-4"><a href="/pages/search/" class="btn btn-success">Законодавчі акти</a></div>
                <div class="col-sm-4"><a href="/pages/search_jurisprudence/" class="btn btn-primary">Судова практика</a></div>
                <div class="col-sm-4"><a href="/pages/search_articles/" class="btn btn-info">Публікації з правової тематики</a></div>
            </div>
        </td>
    </tr>
</table>
    <div class="col-sm-12 text-center h4 text-primary">Публікації з правової тематики</div>
<?php if (!$_GET){?>
    <form method="get" action="">
    <table class="categoriesTxt">
        <tr>
            <td class="btns_search first_td"><label for="title">Слова з назви:</label></td>
            <td class="text-left"><input id="title" class="form-control" name="title"></td>
        </tr>
        <tr>
            <td class="btns_search first_td"><label for="category">Категорії:</label></td>
            <td>
                <select name="category" id="category" class="form-control form-control_search">
                    <option></option>
                    <?php
                    foreach ($data['categories'] as $category){
                        echo "<option value='{$category['id']}'>{$category['index']} {$category['title']}</option>";
                    }
                    ?>
                </select>
            </td>
        </tr>
        <tr>
            <td class="btns_search first_td"><label for="type">Вид:</label></td>
            <td>
                <select name="type" id="type" class="form-control form-control_search">
                    <?php
                    foreach ($data['types'] as $type){
                        echo "<option value='{$type['id']}'>{$type['type']}</option>";
                    }
                    ?>
                </select>
            </td>
        </tr>
        <tr>
            <td class="btns_search first_td"><label for="publisher">Автор:</label></td>
            <td>
                <input id="title" class="form-control" name="publisher">
            </td>
        </tr>
        <tr>
            <td class="btns_search first_td"><label for="date_start">Дата публікації:</label></td>
            <td class="text-left">
                <label for="date_start"> від </label> <input type="date" id="date_start" class="publ date" name="date_start">
                <label for="date_end"> до </label> <input type="date" id="date_end" class="publ date" name="date_end">
            </td>
        </tr>
        <tr>
            <td class="btns_search first_td text-right" colspan="2"><input type="submit" class="btn btn-default" value="Шукати"></td>
        </tr>
    </table>
</form>
<?php }
if($_GET AND $data['empty_fields']){?>
    <div class="col-sm-offset-2 col-sm-8  text-center h3">
        <div class="alert alert-warning" role="alert"> <?=$data['empty_fields']?>
        </div>
    </div>
<?php }
if ($_GET){
    if(isset($data['search_result'][0])) {?>
        <table class='categoriesTxt'>
            <?php $i = 0;
            if($_GET['page'] > 1) {
                $i = ($_GET['page'] - 1) * 50;
            }
            foreach ($data['search_result'] as $doc) {
            $i++;?>
                <tr><td class='td_view_numbering'><?=$i?>.</td>
                    <td colspan='' class='td_view_content'> <span class='h6'><?=$doc['type']?>, від <?=$doc['nice_date']?> </span> <br>
                        <span class='text-info'><?=$doc['title']?></span><br>
                        <span class='h6'><?php echo $doc['publisher_1'];
                    if ($doc['publisher_2'] != '') {
                        echo ", " . $doc['publisher_2'];
                    }?></span><span class='text-muted h6'> <?=$doc['source']?></span>
                    </td>
                </tr>
                <?php }?>
    <?php } elseif(!isset($data['search_result'][0]) AND !isset($data['empty_fields'])) {
                ?>
                <div class="col-sm-offset-2 col-sm-8 text-center h3"><div class="alert alert-warning" role="alert"> В базі відсутні документи з вказаними атрибутками </div></div>
            <?php
    }

}?>
<tr>
    <td></td>
    <td class='td_view_content'><?php if(isset($_GET['title'])){
            foreach ($p->buttons as $button) :
                if ($button->isActive) : ?>
                    <a href = '?page=<?=$button->page?><?php foreach($_GET as $key => $item){if($key !='page'){echo "&".$key."=".$item;}}?>'><?=$button->text?></a>
                <?php else : ?>
                    <span style="color:#555555"><?=$button->text?></span>
                <?php endif;
            endforeach;} ?>
    </td>
</tr>
</table>



