<table class="categoriesTxt">
    <tr>
        <td class="td_view_h1" colspan="3"><span class='btn btn_back text-center text-danger glyphicon glyphicon-chevron-left'
                                                 onclick='window.history.back()'></span>
            Систематична картотека законодавчих актів</td>
    </tr>
    <tr>
        <th class='td_view_h2' colspan='3'>Документи для службового користування</th>
    </tr>

<?php

$i = 1;

foreach ($data['docs'] as $doc){
    $i++;?>
    <tr>
    <td class='td_view_numbering'><?=$i?>.</td>
    <td class='td_view_content'><?=$doc['type']?> від <?=$doc['nice_date']?> № <?=$doc['number']?><br><?php
        if ($doc['link']!=''){ ?>
            <a href='<?=$doc['link']?>'><?=$doc['title']?></a><?php
        } else { ?>
            <span class='text-info'><?=$doc['title']?></span><?php
        } ?>
        <br><?=$doc['publisher_1']?><?php
        if($doc['publisher_2']!=''){echo ", {$doc['publisher_2']}";}
        if($doc['publisher_3']!=''){echo ", {$doc['publisher_3']}";}
        if($doc['publisher_4']!=''){echo ", {$doc['publisher_4']}";}
        echo "<br><span class='text-muted'>{$doc['notice']}</span><br>"?>
        <?php
        if($_SESSION['role'] == 'logged'){
            echo "<form method='get' style='display: inline' action='/manage/admin/edit_laws/{$doc['id']}'><input type='submit' class='btn btn-default btn-sm' value='Редагувати'></form>".
                "<form method='get' style='display: inline' action='/manage/admin/print_card_laws/{$doc['id']}'>
                        <input type='submit' class='btn btn-default btn-sm' value='Друк'></form>";
            ;}?>
    </td>


    <?php echo  "<td class='text-muted mrg'><b>{$doc['folder']}</b><br>{$doc['source_1']}";
    if($doc['source_2']!=''){echo "<br>".$doc['source_2'];}
    if($doc['source_3']!=''){echo "<br>".$doc['source_3'];}
    if($doc['source_4']!=''){echo "<br>".$doc['source_4'];}
    echo "</td></tr>";
}
?>
</table>
